﻿@model Nexus_Service.DAL.GroupUser
@{
    ViewBag.Title = "GrandPermission";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<input type="hidden" id="groupId" name="groupId" value="@Model.Id" />
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">GroupUser</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">GroupUser</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-default">
                <div class="card-body m-1">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Nghiệp vụ</label>
                                @Html.DropDownList("BusinessId", null, new { @class = "form-control" })
                            </div>

                        </div>
                        <div class="col-md-9">
                            <label class="control-label">Chức năng</label>
                            <div class="lst_permission row">

                            </div>
                        </div>
                    </div>

                    <!-- /.col -->
                </div>
            </div>
            
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>

</div>
@section scripts{
    <script>
        function loadPermission() {
            let businessId = $("#BusinessId").val();
            let groupId = $("#groupId").val();
            $.ajax({
                type: 'GET',
                url: "/Admin/GroupUsers/GetPermission?businessId=" + businessId + "&groupId=" + groupId,
               @* data: {
                    businessId: businessId,
                    groupId: groupId
                },*@
                success: function (res) {
                    console.log(res);
                    var result = '';
                    $.each(res, function (idx, item) {
                        result += ` <div class="col-md-4">
                                        <lable>
                                            <input class="item_Permission" ${item.IsGrandted?'checked': ''} type="checkbox" name="name" value="${item.PermissionId}" />${item.Description}
                                        </lable>
                                    </div>`;
                    });
                    $(".lst_permission").html(result);
                }
            })
        }
        $(function () {
            loadPermission();
            $("#BusinessId").change(function () {
                loadPermission();
            })
            $(document).on('change', '.item_Permission', function () {
                let groupId = $("#groupId").val();
                let perId = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: "/Admin/GroupUsers/ChangePermission",
                    data: { groupId: groupId, perId: perId },
                    success: function (res) {
                        alert(res.messger);
                    }
                })
            })
        });
    </script>
    }

