﻿@model IEnumerable<Nexus_Service.DAL.Packet_Detail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Packet_Detail</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Packet_Detail</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <!-- /.card -->

                    <div class="card">
                        <div class="card-header">
                            <a href="@Url.Action("Create", "Packet_Detail")" class="btn btn-primary">Create New</a>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Device Name</th>
                                        <th> Server Name</th>
                                        <th> Packet Name</th>
                                        <th>  Title</th>
                                        <th>  Name</th>
                                        <th>  Detail</th>
                                        <th>  Effective_time</th>
                                        <th> Price</th>
                                        <th>  Image</th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.device.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.service.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.packet.Name)
                                        </td>  
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tilte)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Detail)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Effective_time)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>
                                            <img src="~/Content/UploadFile/Packet_detail/@item.Image" style="width:100px;height:100px" />
                                        </td>


                                        <td class="project-actions text-right">
                                            <div class="btn-group btn-group-sm ">
                                                <a href="" class="btn btn-info"><i class="fas fa-eye"></i></a>
                                                <a href="@Url.Action("Edit", "Packet_Detail", new { id=item.PDid  })" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a>
                                                <a href="@Url.Action("Delete", "Packet_Detail", new { id=item.PDid  })" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fas fa-trash"></i></a>
                                            </div>
                                        </td>

                                    </tr>
                                    }

                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>

</div>
@section scripts {

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,

            })
            $('#example2').DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": true,
                "responsive": true,
            }).buttons().container().appendTo('#example2_wrapper .row #example2_filter .col-md-12');
        });
    </script>
}
