﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in (v2)</title>

    <!-- Google Font: Source Sans Pro -->
    @Styles.Render("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback")
    <!-- Font Awesome -->
    @Styles.Render("~/Content/Admin/plugins/fontawesome-free/css/all.min.css")
    <!-- icheck bootstrap -->
    @Styles.Render("~/Content/Admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css")
    <!-- Theme style -->
    @Styles.Render("~/Content/Admin/dist/css/adminlte.min.css")
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>Admin</b>LTE</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="LoginId" id="LoginId" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }

                   
                </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
     @Scripts.Render("~/Content/Admin/plugins/jquery/jquery.min.js")
    <!-- Bootstrap 4 -->
     @Scripts.Render("~/Content/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js")
    <!-- AdminLTE App -->
     @Scripts.Render("~/Content/Admin/dist/js/adminlte.min.js")
</body>
</html>
