﻿@model IEnumerable<Nexus_Service.DAL.Packet_Order>
@{
    ViewBag.Title = "OrderServiceBrowsingDt";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper" style="min-height: 1602px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Order Detail</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Order Detail</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Order Detail</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-6 order-2 order-md-1">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Total Quantity</span>
                                        <span class="info-box-number text-center text-muted mb-0">@ViewBag.od.Quantity</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Total Price</span>
                                        <span class="info-box-number text-center text-muted mb-0">@ViewBag.od.Total</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12">

                                <h4>Product Order</h4>

                                @foreach (var item in Model)
                                {



                                    <div class="post">
                                        <div class="user-block">
                                            <img class="img-circle img-bordered-sm" src="~/Content/UploadFile/Device/@item.Packet_Detail.Image" alt="user image">
                                            <span class="username">
                                                <a href="#">@item.Packet_Detail.Name</a>
                                            </span>

                                        </div>
                                        <!-- /.user-block -->

                                        <p> <lable>Price:</lable>   <i>$</i>  @item.Packet_Detail.Price</p>
                                        <input type="hidden" name="Total" id="Total" value="@item.Packet_Detail.Price" />
                                        <input type="hidden" name="Effective_time" id="Effective_time" value="@item.Packet_Detail.Effective_time" />

                                    </div>
                                }
                            </div>
                        </div>
                        <div class="text-center mt-5 mb-3">
                            <input type="hidden" name="EmpId" id="EmpId" value="@ViewBag.idEp" />
                            <input type="hidden" name="OrderId" id="OrderId" value="@ViewBag.od.OrderId" />
                            <input type="hidden" name="Status" id="Status" value="true" />

                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6 order-1 order-md-2">
                        <h3 class="text-primary"><i class="fas fa-paint-brush"></i> Detail</h3>
                        <!-- general form elements -->
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form>
                            <div class="form-group">
                                <input type="type" name="name" value="@ViewBag.bll.payment.Type" class="form-control" />

                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Date_start_using</label>
                                <input type="text" class="form-control" id="Date_start_using" name="Date_start_using" value="@ViewBag.bll.Date_start_using">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Date_end_using</label>
                                <input type="text" class="form-control" id="Date_end_using" name="Date_end_using" value="@ViewBag.bll.Date_end_using">
                            </div>
                            <input type="hidden" name="CusId" id="CusId" value="@ViewBag.od.CusId" />
                            <input type="hidden" name="Status" id="Status" value="true" />


                        </form>
                        <!-- /.card -->


                        <div class="text-center mt-5 mb-3">
                            <a href="@Url.Action("OrderServiceBrowsing", "Users")" class="btn btn-sm btn-warning">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>


