﻿@model IEnumerable<Nexus_Service.DAL.Device_Order>
@{
    ViewBag.Title = "OrderDoneDt";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper" style="min-height: 1602px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Order Detail</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Order Detail</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Order Detail</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Total Quantity</span>
                                        <span class="info-box-number text-center text-muted mb-0">@ViewBag.od.Quantity</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Total Price</span>
                                        <span class="info-box-number text-center text-muted mb-0">@ViewBag.od.Total</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12">

                                <h4>Product Order</h4>

                                @foreach (var item in Model)
                                {



                                <div class="post">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="~/Content/UploadFile/Device/@item.device.Image" alt="user image">
                                        <span class="username">
                                            <a href="#">@item.device.Name</a>
                                        </span>

                                    </div>
                                    <!-- /.user-block -->
                                    <p>

                                        <lable>Quantity:</lable>   <i>$</i>  @item.Quantity

                                    </p>
                                    <p> <lable>Price:</lable>   <i>$</i>  @item.Total</p>


                                </div>
                                }
                            </div>
                        </div>
                        <div class="text-center mt-5 mb-3">
                        
                            <a href="@Url.Action("OrderDone", "Users")" class="btn btn-sm btn-warning">Back</a>
                        </div>

                    </div>

                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>


