﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>

    <!-- Google Font: Source Sans Pro -->
    @Styles.Render("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback")
    <!-- Font Awesome -->
    @Styles.Render("~/Content/Admin/plugins/fontawesome-free/css/all.min.css")
    <!-- Ionicons -->
    @Styles.Render("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    <!-- Tempusdominus Bootstrap 4 -->
    @Styles.Render("~/Content/Admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css")
    <!-- iCheck -->
    @Styles.Render("~/Content/Admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css")
    <!-- JQVMap -->
    @Styles.Render("~/Content/Admin/plugins/jqvmap/jqvmap.min.css")
    <!-- Theme style -->
    @Styles.Render("~/Content/Admin/dist/css/adminlte.min.css")
    <!-- DataTables -->
     @Styles.Render("~/Content/Admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")
     @Styles.Render("~/Content/Admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")
     @Styles.Render("~/Content/Admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css")
    <!-- overlayScrollbars -->
    @Styles.Render("~/Content/Admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css")
    <!-- Daterange picker -->
    @Styles.Render("~/Content/Admin/plugins/daterangepicker/daterangepicker.css")
    <!-- summernote -->
    @Styles.Render("~/Content/Admin/plugins/summernote/summernote-bs4.min.css")
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/Content/Admin/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- Navbar -->
        @{
            Html.RenderAction("TopMenu", "Users");
        }
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/Content/Admin/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">AdminLTE </span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                     


                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Table
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Categories")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Category</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Manufactures")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Manufacture</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Services")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Service</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Packets")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Packet</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Devices")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Device</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Packet_Detail")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Packet Detail</p>
                                    </a>
                                </li>
                               
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Cities")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Cities</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Branches")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Branches</p>
                                    </a>
                                </li>
                              
                                
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Departments")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Departments</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "GroupUsers")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Positions</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Employees")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Employees</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link ">
                                <i class="nav-icon fas fa-tree"></i>
                                <p>
                                    Order Device
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <a href="@Url.Action("OrderNew", "Users")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Order new</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("OrderDone", "Users")" class="nav-link ">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Order Done</p>
                                    </a>
                                </li>
                              
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link ">
                                <i class="nav-icon fas fa-tree"></i>
                                <p>
                                    Order Service
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <a href="@Url.Action("OrderSerciceNew", "Users")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Order new</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("OrderServiceBrowsing", "Users")" class="nav-link ">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Order Browsing</p>
                                    </a>
                                </li>
                               

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link ">
                                <i class=" nav-icon fas fa-cogs"></i>
                                <p>
                                   Setting
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Businesses")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Power</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "GroupUsers")" class="nav-link ">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Assign Authority</p>
                                    </a>
                                </li>
                               

                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        @RenderBody()
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.1.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    @Scripts.Render("~/Content/Admin/plugins/jquery/jquery.min.js")
    <!-- jQuery UI 1.11.4 -->
    @Scripts.Render("~/Content/Admin/plugins/jquery-ui/jquery-ui.min.js")
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    @Scripts.Render("~/Content/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js")
    <!-- ChartJS -->
    @Scripts.Render("~/Content/Admin/plugins/chart.js/Chart.min.js")
    <!-- Sparkline -->
    @Scripts.Render("~/Content/Admin/plugins/sparklines/sparkline.js")
    <!-- JQVMap -->
    @Scripts.Render("~/Content/Admin/plugins/jqvmap/jquery.vmap.min.js")
    @Scripts.Render("~/Content/Admin/plugins/jqvmap/maps/jquery.vmap.usa.js")
    <!-- jQuery Knob Chart -->
    @Scripts.Render("~/Content/Admin/plugins/jquery-knob/jquery.knob.min.js")
    <!-- daterangepicker -->
    @Scripts.Render("~/Content/Admin/plugins/moment/moment.min.js")
    @Scripts.Render("~/Content/Admin/plugins/daterangepicker/daterangepicker.js")
    <!-- Tempusdominus Bootstrap 4 -->
    @Scripts.Render("~/Content/Admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js")
    <!-- Summernote -->
    @Scripts.Render("~/Content/Admin/plugins/summernote/summernote-bs4.min.js")
    <!-- overlayScrollbars -->
    @Scripts.Render("~/Content/Admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js")
    @Scripts.Render("~/Content/Admin/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/Admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/Admin/plugins/datatables-responsive/js/dataTables.responsive.min.js")
    @Scripts.Render("~/Content/Admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js")
    @Scripts.Render("~/Content/Admin/plugins/datatables-buttons/js/dataTables.buttons.min.js")
    @Scripts.Render("~/Content/Admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js")
    @Scripts.Render("~/Content/Admin/plugins/jszip/jszip.min.js")
    @Scripts.Render("~/Content/Admin/plugins/pdfmake/pdfmake.min.js")
    @Scripts.Render("~/Content/Admin/plugins/pdfmake/vfs_fonts.js")
    @Scripts.Render("~/Content/Admin/plugins/datatables-buttons/js/buttons.html5.min.js")
    @Scripts.Render("~/Content/Admin/plugins/datatables-buttons/js/buttons.print.min.js")
    @Scripts.Render("~/Content/Admin/plugins/datatables-buttons/js/buttons.colVis.min.js")
    <!-- AdminLTE App -->
    @Scripts.Render("~/Content/Admin/dist/js/adminlte.js")
    <!-- AdminLTE for demo purposes -->
    @Scripts.Render("~/Content/Admin/dist/js/demo.js")
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @Scripts.Render("~/Content/Admin/dist/js/pages/dashboard.js")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
