﻿<!DOCTYPE html>
<html lang="zxx">
<!-- Mirrored from templates.envytheme.com/bahama/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 18 Aug 2021 02:21:50 GMT -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    @Styles.Render("~/Content/Cline/assets/css/bootstrap.min.css")

    @Styles.Render("~/Content/Cline/assets/css/animate.min.css")

    @Styles.Render("~/Content/Cline/assets/css/fontawesome.min.css")

    @Styles.Render("~/Content/Cline/assets/css/magnific-popup.min.css")

    @Styles.Render("~/Content/Cline/assets/css/flaticon.css")

    @Styles.Render("~/Content/Cline/assets/css/nice-select.min.css")

    @Styles.Render("~/Content/Cline/assets/css/meanmenu.css")

    @Styles.Render("~/Content/Cline/assets/css/owl.carousel.min.css")

    @Styles.Render("~/Content/Cline/assets/css/style.css")

    @Styles.Render("~/Content/Cline/assets/css/responsive.css")
    @RenderSection("css", required: false)
    <title>Bahama - Broadband & Internet Service Providers HTML Template</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/Cline/assets/img/favicon.png" )" />
</head>
<body>
    <div class="preloader">
        <div class="spinner"></div>
    </div>

    @{
        Html.RenderAction("TopMenu", "Cline");
    }

    @*content*@
    @RenderBody()

    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="logo">
                            <a href="#"><img src="@Url.Content("~/Content/Cline/assets/img/logo.png" )" alt="image" /></a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Quis ipsum sda.
                            </p>
                        </div>
                        <form class="newsletter-form" data-toggle="validator">
                            <input type="email"
                                   class="newsletter-input"
                                   placeholder="Your Email Address"
                                   name="EMAIL"
                                   required
                                   autocomplete="off" />
                            <button type="submit">
                                <i class="flaticon-paper-plane"></i>
                            </button>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Customer Services</h3>
                        <ul class="services-widget-list">
                            <li><a href="#">My Bahama</a></li>
                            <li><a href="#">Bahama Media</a></li>
                            <li><a href="#">Connection and Configuration</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Video Tutorials</a></li>
                            <li><a href="#">Bahama Application</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Useful Links</h3>
                        <ul class="links-widget-list">
                            <li><a href="#">Coverage Map</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Terms and Conditions</a></li>
                            <li><a href="#">License</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Our Partners</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Get In Touch</h3>
                        <div class="widget-contact-info">
                            <p>
                                <a href="#">1 (800) 216 20 20</a>
                                <span>(Customer service and support)</span>
                                <a href="#">1 (800) 216 20 20</a>
                                <span>(For new customers)</span>
                                1600 Harrison ave, office 203 New York, NY 309090
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <p>
                    <i class="far fa-copyright"></i> Copyright Bahama 2021 All Rights
                    Reserved
                </p>
            </div>
        </div>
    </footer>

    <div class="go-top"><i class="fas fa-arrow-up"></i></div>

    @Scripts.Render("~/Content/Cline/assets/js/jquery.min.js")

    @Scripts.Render("~/Content/Cline/assets/js/popper.min.js")

    @Scripts.Render("~/Content/Cline/assets/js/bootstrap.min.js")

    @Scripts.Render("~/Content/Cline/assets/js/jquery.meanmenu.js")

    @Scripts.Render("~/Content/Cline/assets/js/jquery.magnific-popup.min.js")

    @Scripts.Render("~/Content/Cline/assets/js/owl.carousel.min.js")

    @Scripts.Render("~/Content/Cline/assets/js/parallax.min.js")
<a href="~/Areas/Admin/Controllers/DiscountsController.cs">~/Areas/Admin/Controllers/DiscountsController.cs</a>
    @Scripts.Render("~/Content/Cline/assets/js/jquery.nice-select.min.js")

    @Scripts.Render("~/Content/Cline/assets/js/wow.min.js")

    @Scripts.Render("~/Content/Cline/assets/js/jquery.ajaxchimp.min.js")

    @Scripts.Render("~/Content/Cline/assets/js/form-validator.min.js")

    @Scripts.Render("~/Content/Cline/assets/js/contact-form-script.js")

    @Scripts.Render("~/Content/Cline/assets/js/main.js")
    @RenderSection("scripts", required: false)
</body>

<!-- Mirrored from templates.envytheme.com/bahama/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 18 Aug 2021 02:21:50 GMT -->
</html>
