﻿<header class="header-area">
    <div class="top-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-5">
                    <div class="top-header-left">
                        <p><span>Call Now At:</span> <a href="#">800.567.1234</a></p>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="top-header-right">
                    
                        <ul class="social">
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar-area">
        <div class="bahama-mobile-nav">
            <div class="logo">
                <a href="index.html">
                    <img src="@Url.Content("~/Content/Cline/assets/img/logo.png")" alt="logo" />
                </a>
            </div>
        </div>
        <div class="bahama-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="@Url.Content("~/Content/Cline/assets/img/logo.png")" alt="logo" />
                    </a>
                    <div class="collapse navbar-collapse mean-menu"
                         id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Cline")" class="nav-link active">
                                    Home
                                </a>

                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Services <i class="fas fa-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    @foreach(var item in ViewBag.ser) { 
                                    <li class="nav-item">
                                        <a href="@Url.Action("Services", "Cline", new { id=item.ServiceId })" class="nav-link">@item.Name</a>
                                    </li>
                                    }


                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Shop", "Cline")" class="nav-link">
                                    Shop
                                </a>

                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Blog", "Cline")" class="nav-link">
                                    Blog
                                </a>

                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Contact", "Cline")" class="nav-link">Contact</a>
                            </li>
                        </ul>
                        <div class="others-options">
                            <a href="@Url.Action("Cart", "Cline")" class="btn btn-primary">Cart</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
