﻿@model List<Nexus_Service.Models.CartItem>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Cart</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Cart</li>
            </ul>
        </div>
    </div>
</div>
<section class="cart-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                @if (Model == null || Model.Count == 0)
                {


                    <p class="text-info text-center">
                        Giỏ hàng của bạn rỗng!
                    </p>
                }
                else
                {
                    <div class="cart-table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Unit Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var item in Model.ToList())
                                {
                                    <tr>

                                        <td class="product-thumbnail">
                                            <a href="#">
                                                <img src="assets/img/shop-img1.jpg" alt="item">
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            <a href="#">@item.device.Name</a>
                                        </td>
                                        <td class="product-price">
                                            <span class="unit-amount">$@item.device.Price</span>
                                        </td>
                                        <td class="product-quantity">
                                            <form action="@Url.Action("SuaSoLuong","Cline")" method="get">
                                                <div class="input-counter">

                                                    <input type="hidden" name="DeviceId" value="@item.device.DeviceId" />
                                                    <input type="number" min="1" step="1" name="Quantity_devices" value="@item.Quantity_device" />


                                                </div>
                                                <button type="submit" class="btn btn-primary updateCart">Update</button>
                                            </form>
                                        </td>

                                        <td class="product-subtotal">
                                            @{
                                                var total = item.device.Price * item.Quantity_device;

                                            }
                                            <span class="subtotal-amount">@total</span>

                                            <a href="@Url.Action("DeleteCart","Cline",new { DeviceId = item.device.DeviceId})" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');" class="remove"><i class="far fa-trash-alt"></i></a>
                                        </td>

                                    </tr>
                                }


                            </tbody>


                        </table>

                    </div>
                    <div class="cart-buttons">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-sm-7 col-md-7">
                                <div class="shopping-coupon-code">
                                    <input type="text" class="form-control" placeholder="Coupon code" name="coupon-code" id="coupon-code">
                                    <button type="submit">Apply Coupon</button>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-5 col-md-5 text-end">
                                <a href="@Url.Action("CheckOutDevice", "Cline") " class="btn btn-primary">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>

                    }



                </div>
        </div>
    </div>
</section>

