﻿
@model Nexus_Service.DAL.Account
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    <style>
        .error {
            color: red;
        }
    </style>
}



<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Check Out City</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Check Out City</li>
            </ul>
        </div>
    </div>
</div>
<section class="checkout-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="user-actions">
                    <i class="fas fa-sign-in-alt"></i>
                    <span>Returning customer? <a href="#">Click here to login</a></span>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="billing-details">
                <form action="/" method="post" id="formCheckout">
                    <h3 class="title">City</h3>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <label> Name Account</label>
                            <div class="form-group">

                                <input type="text" class="form-control" id="AccountId" name="AccountId" value="" />
                                @Html.ValidationMessageFor(model => model.AccountId, "", new { @class = "text-danger" })
                                <input type="hidden" class="form-control" id="LoginId" name="LoginId" value="" />
                                <input type="hidden" name="level" id="level" value="3" />
                                <input type="hidden" name="idpket" id="idpket" value="@ViewBag.idpk" />

                                <input type="hidden" name="Role" id="Role" value="3" />
                                <input type="hidden" name="Create_date" id="Create_date" value="@DateTime.Now" />
                                <input type="hidden" name="Status" id="Status" value="true" />
                            </div>
                            <div class="form-group">
                                <label>Password </label>
                                <input type="password" name="password" id="password" class="form-control" value="" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary order-btn submit">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script>
        $("#formCheckout").validate({
            rules: {
                AccountId: {
                    required: true,
                    minlength: 8,
                    maxlength: 15
                },
                password: {
                    required: true,
                    minlength: 8,
                    maxlength: 15,
                    alphanumeric: true
                }
            },
            messages: {
                AccountId: {
                    required: "Please enter your account",
                    minlength: "Please enter at least 8 characters",
                    maxlength: "Please enter up to 15 characters"
                },
                password: {
                    required: "Please enter your password",
                    minlength: "Please enter at least 8 characters",
                    maxlength: "Please enter up to 15 characters",
                    alphanumeric: "Please do not enter special characters"
                }
            },
             submitHandler: function () {
                event.preventDefault()

                var value = $("#AccountId").val();
                    $("#idac").val(value);
                    var getid = "@ViewBag.id" + value;
                    $("#LoginId").val(getid);

                let AccountId = $('#AccountId').val();
                let LoginId = $('#LoginId').val();
                let level = $('#level').val();
                let idpket = $('#idpket').val();
                let Create_date = $('#Create_date').val();
                let Role = $('#Role').val();
                let Status = $('#Status').val();
                let password = $('#password').val();
                $.ajax({
                    type: "post",
                    url: "https://localhost:44397/Data/AddAccount/" + idpket,
                    data: {
                        AccountId: AccountId,
                        LoginId: LoginId,
                        level: level,
                        Create_date: Create_date,
                        Role: Role,
                        Status: Status,
                        password: password
                    },
                    success: function (data) {

                        if (data.statusCode == 200) {
                            console.log(data);
                            alert(data.message);
                            console.log("run add account ok");
                            let idpk = data.idpk;
                            let idAccount = data.idAccount;
                            console.log(idpk);
                            console.log(idAccount);
                            $.ajax({
                                type: "get",
                                //data: {
                                //    idpk: idpk,
                                //    idAccount: idAccount
                                //},
                                url: "https://localhost:44397/Cline/CheckOutDt/?idpk=" + idpk + "&idAccount=" + idAccount,
                                success: function (data) {
                                    console.log(data);
                                    window.location = "https://localhost:44397/Cline/CheckOutDt/?idpk=" + idpk + "&idAccount=" + idAccount;
                                    console.log("run send ok");
                                }
                            });
                        }
                    }
                });
            }
        });


    </script>
}