﻿@model List<Nexus_Service.Models.CartItem>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "CheckOutDevice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Nexus_Service.Models;
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Checkout</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Checkout</li>
            </ul>
        </div>
    </div>
</div>
<section class="checkout-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="user-actions">
                    <i class="fas fa-sign-in-alt"></i>
                    <span>Returning customer? <a href="#">Click here to login</a></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="billing-details">
                    <h3 class="title">Billing Details</h3>
                    <div class="row">
                        <div class="col-lg-12 col-md-6">
                            <div class="form-group">
                                <label>Address <span class="required">*</span></label>
                                <input type="text" name="Address" id="Address" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="form-group">
                                <label>Email <span class="required">*</span></label>
                                <input type="text" name="Email" id="Email" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="form-group">
                                <label>Phone<span class="required">*</span></label>
                                <input type="text" name="Phone" id="Phone" class="form-control">
                            </div>
                        </div>
                        <input type="hidden" name="CusId" id="CusId" value="2" />
                        <input type="hidden" name="Status" id="Status" value="true" />


                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="order-details">
                    <h3 class="title">Your Order</h3>
                    <div class="order-table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ToList())
                                {
                                    <tr>
                                        <td class="product-name">
                                            <a href="#">@item.device.Name</a>
                                        </td>
                                        <td class="product-total">
                                            @{
                                                var total = item.Quantity_device * item.device.Price;
                                             

                                            }
                                            <span class="subtotal-amount"><i>$</i>@total </span>
                                        </td>
                                    </tr>
                                }
                                @{ 
                                    var tong = Model.Sum(item => item.device.Price * item.Quantity_device);
                                }
                              
                                <tr>
                                    <td class="total-price">
                                        <span>Quantity Total</span>
                                    </td>
                                    <td class="product-subtotal">
                                        <span class="subtotal-amount">@Model.Sum(x => x.Quantity_device)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="total-price">
                                        <span> Total</span>
                                    </td>
                                    <td class="product-subtotal">
                                        <span class="subtotal-amount">@tong</span>
                                        <input type="hidden" name="Total" id="Total" value="@tong" />
                                        <input type="hidden" name="Quantity" id="Quantity" value="@Model.Sum(x => x.Quantity_device)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="payment-box">

                        <a id="send_order" class="btn btn-primary order-btn">Place Order</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
@section scripts {
    <script>
        $(function () {
            $("#send_order").click(function () {
                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = today.getFullYear();

                today = yyyy + '-' + mm + '-' + dd;

                let _cusId = $('#CusId').val();
                let Address = $('#Address').val().trim();
                let Email = $('#Email').val().trim();
                let Phone = $('#Phone').val().trim();
                let Status = $('#Status').val().trim();
                let Quantity = $('#Quantity').val().trim();
                let Total = $('#Total').val().trim();
                $.ajax({
                    type: "post",
                    url: "https://localhost:44397/Cline/add_order",
                    data: {
                        CusId: _cusId,
                        Address: Address,
                        Phone: Phone,
                        Email: Email,
                        DateDay: today,
                        Total: Total,
                        Quantity: Quantity,
                        Status: Status
                    },
                    success: function (data) {
                        alert("Order Success and Waiting for a response from staff");
                        console.log(data);
                        window.location = "https://localhost:44397/Cline/Index";
                        console.log("add order ok");


                    }
                });
            });
        });
    </script>
}
