﻿@{
    ViewBag.Title = "CheckOutCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Check Out City</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Check Out City</li>
            </ul>
        </div>
    </div>
</div>
<section class="checkout-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="user-actions">
                    <i class="fas fa-sign-in-alt"></i>
                    <span>Returning customer? <a href="#">Click here to login</a></span>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="billing-details">
                <h3 class="title">City</h3>
                @using (Html.BeginForm("CheckOut", "Cline", FormMethod.Get))
                {
                    <div class="row">
                        <input type="hidden" name="name" value="@ViewBag.getId" />
                        <input type="hidden" name="id" value="@ViewBag.id" />
                        <input type="hidden" name="getIdPk" value="@ViewBag.getIdPk" />
                        
                        <div class="col-lg-12 col-md-12">

                            <div class="form-group">
                                @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary order-btn">Next</button>
                        
                    </div>
                    }
                </div>
        </div>
    </div>
</section>
