﻿@model Nexus_Service.DAL.Customer
@{
    ViewBag.Title = "CheckOutDt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Checkout</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Checkout</li>
            </ul>
        </div>
    </div>
</div>
<section class="checkout-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="user-actions">
                    <i class="fas fa-sign-in-alt"></i>
                    <span>Returning customer? <a href="#">Click here to login</a></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="billing-details">
                  
                        <h3 class="title">Billing Details</h3>
                        <div class="row">
                            <input type="hidden" id="CusId" name="CusId" value="1">
                            <input type="hidden" id="AccountId" name="AccountId" value="@ViewBag.acid">



                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label> Name</label>
                                    <input type="text" name="Name" id="Name" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label>Address <span class="required">*</span></label>
                                    <input type="text" id="Address" name="Address" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label>Phone<span class="required">*</span></label>
                                    <input type="text" id="Phone" name="Phone" class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label>Email  <span class="required">*</span></label>
                                    <input type="email" id="Email" name="Email" class="form-control">
                                </div>
                            </div><div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label>IDcard  <span class="required">*</span></label>
                                    <input type="text" id="IDcard" name="IDcard" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>DoB <span class="required">*</span></label>
                                    <input type="date" id="DoB" name="DoB" class="form-control">
                                    <input type="hidden" id="DateDay" name="DateDay" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label>City</label>
                                    <div class="col-md-10">
                                        @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="Status" name="Status" value="true">
                            <input type="hidden" id="loginID" name="loginID" value="@ViewBag.loginID">
                            <input type="hidden" id="idpk" name="idpk" value="@ViewBag.idpk">
                            <input type="hidden" name="Total" id="Total" value="@ViewBag.pr" />
                            <input type="hidden" name="Quantity" id="Quantity" value="1" />
                        </div>
                        <a class="btn btn-primary order-btn" id="send_data">Send</a>
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="order-details">
                    <h3 class="title">Your Order</h3>
                    <div class="order-table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="product-name">
                                        <a href="#">Black Router</a>
                                    </td>
                                    <td class="product-total">
                                        <span class="subtotal-amount">$14.00</span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="payment-box">
                        <div class="payment-method">
                            <p>
                                <input type="radio" id="direct-bank-transfer" name="radio-group" checked="">
                                <label for="direct-bank-transfer">Direct Bank Transfer</label>
                                Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
                            </p>
                            <p>
                                <input type="radio" id="paypal" name="radio-group">
                                <label for="paypal">PayPal</label>
                            </p>
                            <p>
                                <input type="radio" id="cash-on-delivery" name="radio-group">
                                <label for="cash-on-delivery">Cash on Delivery</label>
                            </p>
                        </div>
                        <a href="#" class="btn btn-primary order-btn">Place Order</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
@section scripts {

    <script>

        $(function () {
            $("#send_data").click(function () {
                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = today.getFullYear();

                today = yyyy + '-' + mm + '-' + dd;

                let AccountId = $('#AccountId').val().trim();
                let Name = $('#Name').val().trim();
                let Address = $('#Address').val().trim();
                let Phone = $('#Phone').val().trim();
                let Email = $('#Email').val().trim();
                let IDcard = $('#IDcard').val().trim();
                let DoB = $('#DoB').val().trim();
                let CityId = $('#CityId').val().trim();
                let Status = $('#Status').val().trim();
               
                $.ajax({
                    type: "post",
                    url: "https://localhost:44397/Data/AddCustomer",
                    data: {
                        AccountId: AccountId,
                        Name: Name,
                        Address: Address,
                        Phone: Phone,
                        Email: Email,
                        IDcard: IDcard,
                        DoB: DoB,
                        CityId: CityId,
                        Status: Status
                    },
                    success: function (data) {
                        console.log("run customer ok");
                        console.log(data.idcs);
                        let _cusId = data.idcs;
                        let Total = $('#Total').val().trim();
                        let Quantity = $('#Quantity').val().trim();
                        console.log(today);
                         $.ajax({
                            type: "post",
                            url: "https://localhost:44397/Data/AddOrder",
                             data: {
                                 CusId: _cusId,
                                Address: Address,
                                Phone: Phone,
                                 Email: Email,
                                 Total: Total,
                                 Quantity: Quantity,
                                 DateDay: today,
                                Status: Status
                            },
                            success: function (data) {
                                console.log(data);
                                alert(data.message);
                                console.log(data.idorder);
                                let OrderId = data.idorder;
                                var idtk = $('#loginID').val();
                                let PDid = $('#idpk').val().trim();
                                console.log(PDid);
                                console.log(idtk);
                                console.log("run order ok");
                                $.ajax({
                                    type: "post",
                                    url: "https://localhost:44397/Data/AddPacketOrder",
                                    data: {
                                        PDid: PDid,
                                        OrderId: OrderId,
                                        Status: Status
                                    },
                                    success: function (data) {
                                        console.log(data);

                                        console.log("run packet detail ok");
                                        $.ajax({
                                            type: "post",
                                            data: {
                                                CusId: _cusId,
                                                idpk: PDid,
                                                idtk: idtk
                                            },
                                            url: "https://localhost:44397/Data/SendMailCus/" + _cusId + "/" + PDid + "/" + idtk,

                                            success: function (data) {
                                                console.log(data);
                                                window.location = "https://localhost:44397/Cline/Index";
                                                console.log("send mail ok");

                                            }
                                        });
                                    }
                                });

                            }
                        });
                    }
                });


            });
        });
    </script>
}