﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="contact-info-box-area ptb-100 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-contact-info">
                    <div class="icon">
                        <i class="flaticon-place"></i>
                    </div>
                    <h3>Address</h3>
                    <p>
                        176, Street Name, New York, NY 10014176, <br />
                        USA
                    </p>
                    <div class="image-box">
                        <img src="assets/img/shape-image/1.png" alt="image" />
                        <img src="assets/img/shape-image/1.png" alt="image" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-contact-info">
                    <div class="icon">
                        <i class="flaticon-address-book"></i>
                    </div>
                    <h3>Email</h3>
                    <p>
                        <a href="#">
                            <span class="__cf_email__"
                                  data-cfemail="a1c8cfc7cee1d8ced4d3d2c8d5c4cfc0ccc48fc2cecc">[email&#160;protected]</span>
                        </a>
                    </p>
                    <p>
                        <a href="#">
                            <span class="__cf_email__"
                                  data-cfemail="403737376e392f35322e212d2500272d21292c6e232f2d">[email&#160;protected]</span>
                        </a>
                    </p>
                    <div class="image-box">
                        <img src="assets/img/shape-image/1.png" alt="image" />
                        <img src="assets/img/shape-image/1.png" alt="image" />
                    </div>
                </div>
            </div>
            <div class="
              col-lg-4 col-md-6 col-sm-6
              offset-lg-0 offset-md-3 offset-sm-3
            ">
                <div class="single-contact-info">
                    <div class="icon">
                        <i class="flaticon-signal"></i>
                    </div>
                    <h3>Phone</h3>
                    <p><a href="#">+2(976) 432-998</a></p>
                    <p><a href="#">+2(976) 432-998</a></p>
                    <div class="image-box">
                        <img src="assets/img/shape-image/1.png" alt="image" />
                        <img src="assets/img/shape-image/1.png" alt="image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Send Message</span>
            <h2>Drop us message for any query</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida. Risus commodo viverra.
            </p>
        </div>
        <form id="contactForm">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               placeholder="Your Name"
                               name="name"
                               id="name"
                               required
                               data-error="Please enter your name" />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <input type="email"
                               class="form-control"
                               placeholder="Your Email Address"
                               name="email"
                               id="email"
                               required
                               data-error="Please enter your email" />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               name="phone_number"
                               placeholder="Phone Number"
                               id="phone_number"
                               required
                               data-error="Please enter your number" />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               name="msg_subject"
                               placeholder="Subject"
                               id="msg_subject"
                               required
                               data-error="Please enter your subject" />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <textarea name="message"
                                  class="form-control"
                                  id="message"
                                  cols="30"
                                  rows="10"
                                  placeholder="Type Your Message Here"
                                  required
                                  data-error="Write your message"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <button type="submit" class="btn btn-primary">
                        Send Message
                    </button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
</section>

<div id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3013.062751684979!2d-73.72085158433903!3d40.958204130453055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2910bfcbc02a5%3A0x975f253f7b6bd387!2s1600%20Harrison%20Ave%20Suite%20213%2C%20Mamaroneck%2C%20NY%2010543%2C%20USA!5e0!3m2!1sen!2sbd!4v1617167570518!5m2!1sen!2sbd"></iframe>
</div>

