﻿@model IEnumerable<Nexus_Service.DAL.Packet_Detail>

@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title-area page-title-style-two">
    <div class="container">
        <div class="page-title-content">
            <h2>Services</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
</div>

<section class="services-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>
                <span class="icon">
                    <i class="flaticon-technical-support"></i>
                </span>
                <span>Bahama Services</span>
            </span>
            <h2>Explore the next Isp unlimited possibilities</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-router"></i>
                    </div>
                    <h3>Home Broadband</h3>
                    <p>
                        Lorem ipsu dolors itamet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore.
                    </p>
                    <a href="#" class="details-btn">
                        <i class="flaticon-arrow-pointing-to-right"></i>
                    </a>
                    <div class="image-box">
                        <img src="@Url.Content("~/Content/Cline/assets/img/shape-image/1.png")" alt="image" />
                        <img src="@Url.Content("~/Content/Cline/assets/img/shape-image/1.png")" alt="image" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-wifi-1"></i>
                    </div>
                    <h3>Home WIFI</h3>
                    <p>
                        Lorem ipsu dolors itamet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore.
                    </p>
                    <a href="#" class="details-btn">
                        <i class="flaticon-arrow-pointing-to-right"></i>
                    </a>
                    <div class="image-box">
                        <img src="@Url.Content("~/Content/Cline/assets/img/shape-image/1.png")" alt="image" />
                        <img src="@Url.Content("~/Content/Cline/assets/img/shape-image/1.png")" alt="image" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-wifi-signal-tower"></i>
                    </div>
                    <h3>Satellite TV</h3>
                    <p>
                        Lorem ipsu dolors itamet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore.
                    </p>
                    <a href="#" class="details-btn">
                        <i class="flaticon-arrow-pointing-to-right"></i>
                    </a>
                    <div class="image-box">
                        <img src="@Url.Content("~/Content/Cline/assets/img/shape-image/1.png")" alt="image" />
                        <img src="@Url.Content("~/Content/Cline/assets/img/shape-image/1.png")" alt="image" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="pricing-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>
                <span class="icon">
                    <i class="flaticon-resume"></i>
                </span>
                <span>Bahama Pricing</span>
            </span>
            <h2>Discover our best plans</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices.
            </p>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-pricing-table">
                        <div class="pricing-header">
                            <div class="icon">
                                <i class="flaticon-online-shop"></i>
                            </div>
                            <span> @item.service.Name</span>
                            <h3> @item.Name </h3>
                        </div>
                        <ul class="pricing-features-list">
                            <li><i class="flaticon-check-mark"></i> @item.Tilte</li> 
                            <li><i class="flaticon-check-mark"></i> @item.packet.Name</li>
                            <li><i class="flaticon-check-mark"></i> @item.Effective_time <label>/Day</label></li>

                            <li>
                                <i class="flaticon-check-mark"></i> @item.device.Name <label>Free</label>
                            </li>

                        </ul>
                        <div class="price">
                            <span>From</span>
                            <span>$</span>
                            @item.Price
                            <span>/mo</span>
                        </div>
                        <a href="@Url.Action("Services_Detail", "Cline", new { id=item.PDid  })" class="view-plans-btn">View Plans</a>
                        <div class="image-box">
                            <img src="@Url.Content("~/Content/Cline/assets/img/shape-image/2.png") alt="image" />
                            <img src="@Url.Content("~/Content/Cline/assets/img/shape-image/2.png") alt="image" />
                        </div>
                    </div>
                </div>

            }
            <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    <a href="#" class="prev page-numbers"><i class="fas fa-angle-double-left"></i></a>
                    @for (int i = 1; i <= ViewBag.totalPage; i++)
                    {
                        if (ViewBag.currentPage == i)
                        {
                            <a href="@Url.Action("Services", "Cline", new { page = i, search = "" })" class="page-numbers current">@i</a> }
                        else
                        {
                            <a href="@Url.Action("Services", "Cline", new { page = i, search = "" })" class="page-numbers">@i</a>
                        }
                    }
                    <a href="#" class="next page-numbers"><i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="why-choose-us-area ptb-100 bg-fcfcfc">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="why-choose-us-content">
                    <span>Bahama Offer</span>
                    <h2>More Great Reasons to Choose Bahama</h2>
                    <p>
                        The speed of data, as it travels from the Internet to your
                        computer, is measured in megabits per second (Mbps). Different
                        activities require different speeds.
                    </p>
                    <ul>
                        <li>50% off on professional installation</li>
                        <li>10 hours of cloud DVR service</li>
                        <li>HD included</li>
                        <li>Speed good for 6-8 devices at the same time</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Request A Quote</a>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="why-choose-us-image">
                    <img src="@Url.Content("~/Content/Cline/assets/img/offer-img1.png")" alt="image" />
                    <div class="text">
                        <div class="inner-text">
                            <span>Spend</span>
                            <h3>$12.00</h3>
                            <span>Up to</span>
                            <h3>$56.00</h3>
                            <span>Per Second</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="offer-area ptb-100 jarallax" data-jarallax='{"speed": 0.2}'>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="offer-content">
                    <span class="sub-title">Cost a little get a best</span>
                    <h2>200 Mbps + BahamaTV</h2>
                    <ul class="list">
                        <li><i class="flaticon-online-shop"></i> 160+ Channels</li>
                        <li><i class="flaticon-router"></i> Internet</li>
                    </ul>
                    <div class="price">
                        <span class="old-price">$42.99/mo</span>
                        <span class="new-price">$35.99/mo</span>
                    </div>
                    <ul class="features-list">
                        <li>Line rental and Bahama Talk included</li>
                        <li>+ one-off $9.95 set-up fee</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Request A Quote</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="@Url.Content("~/Content/Cline/assets/img/about-img3.png")" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>

