﻿@model Nexus_Service.DAL.Packet_Detail
@{
    ViewBag.Title = "Services_Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Analytical Balances</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Shop Details</li>
            </ul>
        </div>
    </div>
</div>
<section class="product-details-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="product-details-image">
                    <img src="~/Content/UploadFile/Packet_detail/@Html.DisplayFor(model => model.Image)" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="product-details-desc">
                    <h3> @Html.DisplayFor(model => model.Name)</h3>
                    <div class="price">
                        <span class="new-price">$ @Html.DisplayFor(model => model.Price)</span>
                    </div>
                    <h5> Content</h5>
                    <p>@Html.DisplayFor(model => model.Detail)</p>
                   
                    <div class="buy-checkbox-btn">
                        <div class="item">
                            <input class="inp-cbx" id="cbx" type="checkbox">
                            <label class="cbx" for="cbx">
                                <span>
                                    <svg width="12px" height="10px" viewBox="0 0 12 10">
                                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg>
                                </span>
                                <span>I agree with the terms and conditions</span>
                            </label>
                        </div>
                        <div class="item">
                            @using (Html.BeginForm("CheckOutCity", "Cline", FormMethod.Get))
                            {
                            <input type="hidden" name="id" value="@Model.PDid" />
                            <button type="submit" class="buy-btn">Proceed to checkout</button>
                            }

                        </div>
                    </div>
                    <div class="custom-payment-options">
                        <span>Guaranteed safe checkout:</span>
                        <div class="payment-methods">
                            <a href="#"><img src="@Url.Content("~/Content/Cline/assets/img/payment-image/1.svg")" alt="image"></a>
                            <a href="#"><img src="@Url.Content("~/Content/Cline/assets/img/payment-image/2.svg")" alt="image"></a>
                            <a href="#"><img src="@Url.Content("~/Content/Cline/assets/img/payment-image/3.svg")" alt="image"></a>
                            <a href="#"><img src="@Url.Content("~/Content/Cline/assets/img/payment-image/4.svg")" alt="image"></a>
                            <a href="#"><img src="@Url.Content("~/Content/Cline/assets/img/payment-image/5.svg")" alt="image"></a>
                            <a href="#"><img src="@Url.Content("~/Content/Cline/assets/img/payment-image/6.svg")" alt="image"></a>
                            <a href="#"><img src="@Url.Content("~/Content/Cline/assets/img/payment-image/7.svg")" alt="image"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="related-products-area">
        <div class="container">
            <div class="section-title">
                <span>Our Shop</span>
                <h2>Related Products</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="row">
                @foreach (var item in ViewBag.serverId)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-pricing-table">
                            <div class="pricing-header">
                                <div class="icon">
                                    <i class="flaticon-online-shop"></i>
                                </div>
                                <span> @item.service.Name</span>
                                <h3> @item.Name </h3>
                            </div>
                            <ul class="pricing-features-list">
                                <li><i class="flaticon-check-mark"></i> @item.packet.Name</li>
                                <li><i class="flaticon-check-mark"></i> @item.Effective_time <label>/Day</label></li>

                                <li>
                                    <i class="flaticon-check-mark"></i> @item.device.Name <label>Free</label>
                                </li>

                            </ul>
                            <div class="price">
                                <span>From</span>
                                <span>$</span>
                                @item.Price
                                <span>/mo</span>
                            </div>
                            <a href="@Url.Action("Services_Detail", "Cline", new { id=item.PDid  })" class="view-plans-btn">View Plans</a>
                            <div class="image-box">
                                <img src="@Url.Content("~/Content/Cline/assets/img/shape-image/2.png") alt="image" />
                                <img src="@Url.Content("~/Content/Cline/assets/img/shape-image/2.png") alt="image" />
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</section>

