﻿@model Nexus_Service.DAL.Device
@{
    ViewBag.Title = "Shop_detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Analytical Balances</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Shop Details</li>
            </ul>
        </div>
    </div>
</div>
<section class="product-details-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="product-details-image">
                    <img src="~/Content/UploadFile/Device/@Html.DisplayFor(model => model.Image)" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="product-details-desc">
                    <h3> @Html.DisplayFor(model => model.Name)</h3>
                    <div class="price">
                        <span class="new-price">$ @Html.DisplayFor(model => model.Price)</span>
                    </div>
                    <h5> Content</h5>
                    <p>@Html.DisplayFor(model => model.Parameter)</p>
                    @using (Html.BeginForm("AddToCart", "Cline", FormMethod.Get))
                    {
                        <div class="product-add-to-cart">
                            <div class="input-counter">
                                <span class="minus-btn"><i class="fas fa-minus"></i></span>
                                <input type="text" name="Quantity_Device" min="1" value="1">
                                <span class="plus-btn"><i class="fas fa-plus"></i></span>
                            </div>
                        </div>

                        <div class="buy-checkbox-btn">
                            <div class="item">
                                <input class="inp-cbx" id="cbx" type="checkbox">
                                <label class="cbx" for="cbx">
                                    <span>
                                        <svg width="12px" height="10px" viewBox="0 0 12 10">
                                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                        </svg>
                                    </span>
                                    <span>I agree with the terms and conditions</span>
                                </label>
                            </div>
                            <div class="item">

                                <input type="hidden" name="id_pk" value="0" />
                                <input type="hidden" name="Quantity_pk" value="0" />
                                <input type="hidden" name="id_Device" value="@Model.DeviceId" />
                                <button type="submit" class="buy-btn">Add to cart</button>


                            </div>
                        </div>
                    }
                    <div class="custom-payment-options">
                        <span>Guaranteed safe checkout:</span>
                        <div class="payment-methods">
                            <a href="#"><img src="@Url.Content("~/Content/Cline/assets/img/payment-image/1.svg")" alt="image"></a>
                            <a href="#"><img src="@Url.Content("~/Content/Cline/assets/img/payment-image/2.svg")" alt="image"></a>
                            <a href="#"><img src="@Url.Content("~/Content/Cline/assets/img/payment-image/3.svg")" alt="image"></a>
                            <a href="#"><img src="@Url.Content("~/Content/Cline/assets/img/payment-image/4.svg")" alt="image"></a>
                            <a href="#"><img src="@Url.Content("~/Content/Cline/assets/img/payment-image/5.svg")" alt="image"></a>
                            <a href="#"><img src="@Url.Content("~/Content/Cline/assets/img/payment-image/6.svg")" alt="image"></a>
                            <a href="#"><img src="@Url.Content("~/Content/Cline/assets/img/payment-image/7.svg")" alt="image"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="related-products-area">
        <div class="container">
            <div class="section-title">
                <span>Our Shop</span>
                <h2>Related Products</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="row">
                @foreach (var item in ViewBag.DeviceId)
                {
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-product-box">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Content/UploadFile/Device/@item.Image" alt="image" style="width:356px;height:272.45px">
                            </a>

                        </div>
                        <div class="product-content">
                            <h3><a href="#">@item.Name</a></h3>

                            <span class="price">$@item.Price</span>
                            <a href="@Url.Action("Shop_detail", "Cline", new { id=item.DeviceId  })" class="add-to-cart-btn">View Plans</a>
                        </div>
                    </div>
                </div>

                }
            </div>
        </div>
    </div>
</section>

