﻿@model IEnumerable<Nexus_Service.DAL.Device>
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Shop</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Shop</li>
            </ul>
        </div>
    </div>
</div>
<section class="shop-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="woocommerce-topbar">
                    <div class="row align-items-center">
                        <div class="col-lg-8 col-md-7">
                            <div class="woocommerce-result-count">
                                <h3>Shop</h3>
                                
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5">
                            <div class="woocommerce-topbar-ordering">
                                <select style="display: none;">
                                    <option value="1">Default sorting</option>
                                    <option value="2">Sort by popularity</option>
                                    <option value="0">Sort by average rating</option>
                                    <option value="3">Sort by latest</option>
                                    <option value="4">Sort by price: low to high</option>
                                    <option value="5">Sort by price: high to low</option>
                                    <option value="6">Sort by new</option>
                                </select><div class="nice-select" tabindex="0"><span class="current">Default sorting</span><ul class="list"><li data-value="1" class="option selected">Default sorting</li><li data-value="2" class="option">Sort by popularity</li><li data-value="0" class="option">Sort by average rating</li><li data-value="3" class="option">Sort by latest</li><li data-value="4" class="option">Sort by price: low to high</li><li data-value="5" class="option">Sort by price: high to low</li><li data-value="6" class="option">Sort by new</li></ul></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-product-box">
                                <div class="product-image">
                                    <a href="#">
                                        <img src="~/Content/UploadFile/Device/@item.Image" alt="image" style="width:356px;height:272.45px">
                                    </a>

                                </div>
                                <div class="product-content">
                                    <h3><a href="#">@item.Name</a></h3>

                                    <span class="price">$@item.Price</span>
                                    <a href="@Url.Action("Shop_detail", "Cline", new { id=item.DeviceId  })" class="add-to-cart-btn">View Plans</a>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <a href="#" class="prev page-numbers"><i class="fas fa-angle-double-left"></i></a>
                            @for (int i = 1; i <= ViewBag.totalPage; i++)
                            {
                                if (ViewBag.currentPage == i)
                                {
                                    <a href="@Url.Action("Shop", "Cline", new { page = i, search = "" })" class="page-numbers current">@i</a> }
                                else
                                {
                                    <a href="@Url.Action("Shop", "Cline", new { page = i, search = "" })" class="page-numbers">@i</a>
                                }
                            }
                            <a href="#" class="next page-numbers"><i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

